@font-face {
    font-family: "Helvetica Neue LT Pro 73";
    src: url('fonts/Helvetica Neue LT Pro 73 Bold Extended.otf');
}

@font-face {
    font-family: "Nimbus Mono L Regular";
    src: url('fonts/Nimbus Mono L Regular.ttf');
}


header{
    text-align: center;
    background-color: #e2d7bf;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto;
}

.navbar .title{
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .navbar-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar a{
    color: rgb(25, 100, 0);
    text-decoration: none;
    transition: 0.2 ease;
}
  
.main-container {
    width: 90%;
    margin: auto;
    font-family: "Helvetica Neue LT Pro 73";
}

#main-header {
    font-size: 8rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

#major-bins {
    /* align side by side */
    display: flex;
    flex-direction: row;
}

.content {
    font-family: "Nimbus Mono L Regular";
}

.major-bin {
    /* Smaller version of main-header */
    font-size: 4rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

h1 {
    font-family: Helvetica;
    color: #0e5f27;
}

.flex-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
}

#officers{
    display: flex;
}

.flex-container img {
    max-width: 200px; /* Set the maximum width of the image */
    margin-right: 20px; /* Add spacing between the image and text */
}

.navbar ul {
    list-style: none;
    padding: 100;
    display: inline-block; /* Make the list items horizontal */
    text-align: center;
}

.navbar li {
    margin-right: 20px; /* Adjust the margin to control spacing */
    color: #0e5f27;
    display: inline;
}