<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US!</title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
    <header>
        <h1>ABOUT US</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/get_data">Get Data</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>About Us</h2>
            <p>Started in 2023, Cal Poly Quantitative Finance Club focuses on preparing students for the working world through 
                hands-on projects and career readiness programs, such as resume workshops and interview practice.</p>
        </section>

        <section>
            <h2>Officers</h2>
            <img src="./dog.jpeg">
            <p>Charlie Ray, President - C/O 2026 Billy Block, Vice President - C/O 2026 Manny Gonzales, Business Lead - C/O 2026 Seth Johnson, CS Lead - C/O 2026</p>
        </section>

        <section>
            <h2>Current Projects</h2>
            <ul>
                <li>Modular Trading System</li>
                <li>Startup Valuation Project</li>
                <li>Real Estate Regression Thing</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>
</body>
</html>