<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <h1>Cal Poly Quantitative Finance Club</h1>
        <nav>
            <ul>
                <li><a href="/get_data">Get Data</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section>
            <h2>Projects</h2>
            <ul>
                <li><a href="/cpquant">cpquant Library</a></li>
                <li><a href="/mts">Modular Trading System</a></li>
                <li><a href="/startup-valuation">Startup Valuation</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>
</body>
</html>