<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cal Poly Quant Club</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
    <div class="main-container">
        <div>
            <div>
                <div id="main-header">
                    CAL POLY QUANT CLUB
                </div>
            </div>
            <div id="major-bins">
                <div class="major-bin">
                    Statistics
                </div>
                <div class="major-bin">
                    Computer Science
                </div>
                <div class="major-bin">
                    Business
                </div>
            </div>
            <div id="club-description" class="content">
                The Cal Poly Quant Club is a dynamic student-led community at California Polytechnic State University, San Luis Obispo, dedicated to delving into the fascinating world of quantitative finance. We offer a blend of theoretical learning and practical experience through workshops, guest lectures, and hands-on projects. Our goal is to equip our members with the necessary skills to excel in this fast-paced field, bridging finance and technology to shape the future of investment.
            </div>
            <div>
                <button class="btn btn-primary">Our Work</button>
                <button>Join Us</button>
                <button>Education</button>
                <button>Sponsors</button>
            </div>
        </div>
    </div>
</body>
</html>