{% extends 'base/base.html' %}

{% block title %}Home - Cal Poly Quantitative Finance{% endblock %}


{% block content %}
    <main>
        <section>
            <h2>Welcome to the CP Quant Wbesite!</h2>
            <h3> Take a look at our projects! </h3>
            <ol>
                <li><a href="/cpquant">cpquant Library</a></li>
                <li><a href="/mts">Modular Trading System</a></li>
                <li><a href="/startup-valuation">Startup Valuation</a></li>
            </ol>
        </section>
    </main>
{% endblock %}

{% block pagebody %}
    <footer>
        <p>&copy; 2023 Cal Poly Quantitative Finance</p>
    </footer>
{% endblock %}
